
$txt-xxsmall: 10px;
$txt-xsmall: 12px;
$txt-small: 16px;
$txt-medium: 20px;
$txt-large: 24px;
$txt-xlarge: 36px;

$page-width: 1325px;
$content-width: 90%;



$body-background-color: #C5CDD8;
$banner-background-color: #669999;
$buyer-color: #ff9966;
$bidder-color: #B1B17B;
$snapshot-color: $banner-background-color;


$link-color: lightblue;
$link-hover-color: lightskyblue;
$close-dialog-color: crimson;


* {
	margin: 0;
	padding: 0;
	border: 0
}

li {
	list-style-type: none;
}

body {
//	background-color: $body-background-color;
//	background-image: url('../../../../../assets/images/Grey-Jean-White-Seamless-Patterns-For-Website-Backgrounds.jpg');
background-image: url('../../../../../assets/images/Rough-Grey-Seamless-Pattern-For-Website-Background.jpg');
min-height: 1500px;
}

// center modal - http://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center

.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

// end center modal

.hidden {
	visiblity: hidden;
}


.bh-loader-container {
	position: relative;
}

.bh-loader-container>div {
	opacity: 1;
	transition: opacity 0.5s;	
}

.bh-loader-container>.bh-centered-icon+div {
	opacity: 0.3;
}

.bh-loader-container>.bh-centered-icon+div>* {
	visibility: hidden;
}

.bh-loader-container>.bh-centered-icon.hidden {
	visibility: hidden;
}

.bh-centered-icon {
	font-size: 48px;
	height: 48px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: slategray;
	z-index: 100;
}

.bh-x-closer {
	position: absolute;
	font-size: 18px;
	top: 10px;
	right: 13px;
	cursor: pointer;
	color: #666;
}

.bh-x-closer:hover {
	color: red;
}


.stage-progress-indicator {
	width: 200px;
	.radio-buttons {
		display: table;
		position: relative;
		z-index: 1;
		pointer-events: none;

		&:before {
			content: '';
			height: 5px;
			background-color: lightgray;
			position: absolute;
			width: calc(100% - 100px);
			left: 50px;
			top: 50%;
			transform: translateY(-50%);
			z-index: -1;
		}

		.radio-item {
			width: 90px;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			position: relative;	
			
			input[type=radio] {
				display: none;

				&:checked {
					&+label {
						font-size: 20px;
						font-weight: bold;
						cursor: default;

						&:before {
							content: '';
							width: 46px;
							height: 46px;
							border-radius: 23px;
							
						}
					}
				}
			}

			&:nth-of-type(1), &:nth-of-type(3) {
				input[type=radio] {
					&:checked {
						&+label {
							&:before {
								content: '';
								background-color: $bidder-color;
							}
						}

					}
				}
			}

			&:nth-of-type(2) {
				input[type=radio] {
					&:checked {
						&+label {
							&:before {
								content: '';
								background-color: $buyer-color;
							}
						}

					}
				}
			}

			label {
				cursor: pointer;
				font-size: 16px;
				color: white;
				position: relative;
				margin-bottom: 0;  // bootstrap overridde

				&:before {
					content: "";
					width: 36px;
					height: 36px;
					border-radius: 18px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: #aaa;  // TODO: remove
					z-index: -1;
				}

			}
		}
	}
}

.bh-input-dollars-and-cents {
	position: relative;
	&:before {
//		content: '$';
		display: block;
		@include centerElementVerticallyAbsolute();					
		right: 90px;
		font-size: $txt-small;
	}

	input {
		padding: 5px;
		text-align: right;
//		width: 85px;
//		height: 30px;
		width: 100%;
		height: 25px;
		border: 1px solid #aaa;

		&.saving {
			color: #aaa;
		}
	}

	.fa {
		position: absolute;
		@include centerElementVerticallyAbsolute();
		right: -15px;
	}

	.fa-check {
		color: green;
	}

	.fa-hourglass-half {
		color: #888;
	}

	.fa-thumbs-o-down {
		color: crimson;
	}
}

@mixin bh-button-with-delay($height, $width, $font-size) {
 
	.button-container {
		position: relative;

		.button-text {
			@include centerElementVerticallyAbsolute();
			left: 0;
			right: 0;
			pointer-events: none;
			font-size: $font-size;
		}
	}
 	
	button {
		height: $height;
		width: $width;
		
		&.waiting {
			opacity: 0.5;
			pointer-events: none;
		}
		pointer-events: auto;

	}

	.fa {
		pointer-events: none;
	}

	.fa-check, .fa-thumbs-o-down, .fa-hourglass-half {
		position: absolute;
		top: 1px;
		right: 1px;
	}

	.fa-hourglass-half {
		margin: 3px 2px 0 0;
	}
	
	.fa-check {
		color: white;
	}
	
	.fa-thumbs-o-down {
		color: red;
	}
}