.todo-pagination-panel {

	& {
		background-color: white;
		display: table;
		width: 100%;
		padding: 10px 0 5px 0;
		border: 1px solid #aaa;
	}

	& > div {
		display: table-cell;
		vertical-align: middle;
	}

	.widget-container  {
		text-align: right;
	}

	.gear-holder {
		width: 40px;
		text-align: center;
	}

	.fa-cog {
		font-family: FontAwesome;
		content: "\f013"; /* cog */
		font-size: 18px;
		color: $link-color;
		display: block;
		cursor: pointer;

		&:hover {
			color: $link-hover-color;
		}
	}

	.pagination-caption {
		font-size: 14px;
		text-align: left;
		padding-left: 45px;
	}


	.pagination-sm { 
		margin: 0;
	}

	.pagination-sm > li > a {
		font-size: 14px;
	}


	.items-per-page-caption {
		right: 160px;
		font-size: 16px;
		display: none;
	}

	.popover {
		margin: 12px 3px 0 10px;
		background-color: mistyrose;
	}

	.popover-content {
		display: inline-flex; /* horizonal alignment of buttons */
	}

	.popover-title {
		font-style: italic;
	}

	.popup-closer {
		position: absolute;
		top: 6px;
		right: 8px;
		color: gray;
		cursor: pointer;
	}

	.popup-closer:hover {
		color: $close-dialog-color;
	}
}

	